<p id="notice"><%= notice %></p>

<h1>Feeds</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>

      <th>投稿者</th>
      <th>タイトル</th>
      <th>内容</th>

    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= link_to image_tag(feed.image.thumb.url), feed.image.url %></td>

        <td><%= feed.user.name %></td>
        <td><%= feed.title %></td>
        <td><%= feed.content %></td>

        <td><%= link_to 'Show', feed %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed.id) %></td>
        <td><%= link_to 'Destroy',feed_path(feed.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed', new_feed_path %>
