<h1>Showing Feed</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url %>
</p>
<p>投稿者：<%= @feed.user.name %></p>
<p>タイトル：<%= @feed.title %></p>
<p>内容：<%= @feed.content %></p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
