<div  class="fullheight" style="background-image:url(/images/show_image.png)" />

  <h1>Showing Feed</h1>

    <p>投稿者：<%= @feed.user.name %></p>
    <p>タイトル：<%= @feed.title %></p>
    <p>内容：<%= @feed.content %></p>
    <p>画像：<div><%= link_to image_tag(@feed.image.thumb.url), @feed.image.url %></div></p>

    <p>コメント一覧（ここから下の内容が重要）</p>
    <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
    <div id="comments_area">
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments, feed: @feed } %>
    </div>
    <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/form', locals: { comment: @comment, feed: @feed } %>

  <%= link_to 'Edit', edit_feed_path(@feed) %> |
  <%= link_to 'Back', feeds_path %>

</div>
